# .gitignore python

# Distribution / packaging
.Python
build/
__pycache__/
.claude/
.claude/**

.legacy
.legacy/**
 
# Translations
*.mo
*.pot

# PyBuilder
.pybuilder/
target/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
tmp/
.idea/

# PyPI configuration file
.pypirc

PROFILE_DIR/
